<div class="inner {{ statusClass }}">
  <span class="ribbon">{{ ribbonText }}</span>
  <img src="{{ imageUrl }}" />
  <p class="description">
    {{ description }}
    {{ issuedOn }}
  </p>
  <div class="actions">
    <i class="fa fa-trash-o"></i>
    <button>Details</button>
  </div>
</div>
